################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MidgardCreator/bin/Debug
/MidgardCreator/obj/Debug
/.vs
/MidgardCreator/obj/Release/DesignTimeResolveAssemblyReferences.cache
/MidgardCreator/obj/Release/MCreator.csprojResolveAssemblyReference.cache
/MidgardCreator/obj/Release
/MidgardCreator/bin/Release
