################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MidgardCreator/bin/Debug
/MidgardCreator/obj/Debug
